<select id="sectionKrila">
    <option value="ednokril">Ednokril</option>
    <option value="dvukril">Dvukril</option>
    <option value="hide">Hide Section</option>
</select>

<section id="ednokril">ednokrili</section>
<section id="dvukril">
    <div id="main">
        <a href="#/snimka1" class="show" data-target="snimka1">
            <img style="width:150px" src="../../1.jpg" alt="">
        </a>
        <a href="#/snimka2" class="show" data-target="snimka2">
            <img style="width:150px" src="../../2.jpg" alt="">
        </a>
        <a href="#/snimka3" class="show" data-target="snimka3">
            <img style="width:150px" src="../../3.jpg" alt="">
        </a>
    </div>
</section>
<section id="hide">No Pictures</section>
